<head>
    <meta charset="utf-8" />
    <title>James McComish</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A website about me and some things I've worked on" />
    <meta property="og:title" content="James McComish" />
    <meta property="og:description" content="A website about me and some things I've worked on" />
    <meta property="og:image" content="https://jamesmccomish.com/avatar.png" />
    <meta property="og:url" content="https://jamesmccomish.com" />
    <meta property="og:type" content="website" />
    <meta name="fc:miniapp"
        content='{"version":"1","imageUrl":"https://jamesmccomish.com/avatar.png","button":{"title":"Hello","action":{"type":"launch_miniapp","url":"https://jamesmccomish.com/index.html","name":"James McComish","splashImageUrl":"https://jamesmccomish.com/avatar.png","splashBackgroundColor":"#f5f5f5"}}}' />
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="icon" href="/favicon.ico">
    <link rel="preload" href="/css/global.css" as="style">
</head>